<div class="wrapper wrapper-content p-xl">
    <div class="container animated fadeInRight">
        <div class="row">

            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">

                        <div class="product-imitation">
                            [ INFO ]
                        </div>
                        <div class="product-desc">
                                    
                            
                            <a href="#" class="product-name"> Barber license</a>
                            
                            <div class="m-t text-righ">
                                <button class="btn btn-outline btn-default" type="file" class="" ngf-select="upload($file)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">Select File</button>
                                <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                                  <span class="progress" ng-show="progress >= 0">
                                      <div style="width:{{progress}}%"  
                                           ng-bind="progress + '%'"></div>
                                  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">

                        <div class="product-imitation">
                            [ INFO ]
                        </div>
                        <div class="product-desc">
                                    
                            
                            <a href="#" class="product-name"> State ID</a>
                            
                            <div class="m-t text-righ">
                                <button class="btn btn-outline btn-default" type="file" class="" ngf-select="uploadid($file)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">Select File</button>
                                <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                                  <span class="progress" ng-show="progress >= 0">
                                      <div style="width:{{progress}}%"  
                                           ng-bind="progress + '%'"></div>
                                  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">

                        <div class="product-imitation">
                            [ INFO ]
                        </div>
                        <div class="product-desc">
                                    
                            
                            <a href="#" class="product-name"> Other Doc</a>
                            
                            <div class="m-t text-righ">
                                <button class="btn btn-outline btn-default" type="file" class="" ngf-select="uploadother($file)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">Select File</button>
                                <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                                  <span class="progress" ng-show="progress >= 0">
                                      <div style="width:{{progress}}%"  
                                           ng-bind="progress + '%'"></div>
                                  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>