<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name"><a ui-sref="welcome">BZo</a></h1>
        </div>
        <h3>Sign In- text test</h3>
        
        <form name="loginForm" ng-submit="submitForm(loginForm.$valid)" class="m-t" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
                <input type="email" id="email" name="email"  ng-model="email" class="form-control" placeholder="email" required>
                <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Enter a valid email</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                <input type="password" id="password" name="password" required class="form-control" placeholder="Password" ng-model="password"  ng-minlength="5">
                <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Enter a longer passowrd</p>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b"  ng-disabled="loginForm.$invalid">Login</button>

            <a ui-sref="forgot_password"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a>
        </form>
        <p class="m-t"> </p>
    </div>
</div>